.sticky{
    background-color: rgba(224, 22, 15, 0.911);
    padding: 1em;
    text-align: center;
    flex: 1 1 auto;
    position: sticky;
    width: 100%;
    bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.sticky:hover{
    text-transform: uppercase;
    animation-name: flash;
    animation-duration: 6s;
    animation-iteration-count: 4;
}
@keyframes flash {
    from{color: black;}
    to{color: floralwhite;}
}
.main2:hover{
    box-shadow: 0px 0px 15px 5px whitesmoke;
}
.head{
    font-family: lobster, serif;
    font-size: 5em
    
}
.discover{
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
    display: inline-block;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    transition: ease-in-out 0.2s;
    font-weight: 900;
}
.discover:hover{
    background-color: rgb(223, 223, 223);
    color: black;
    box-shadow: 0 0 10px 3px rgba(255, 255, 0, 0.733);
}
.img:hover{
    filter: blur(5px);
}
