*{box-sizing: border-box;}
h1{
    background-color: aquamarine;
    text-align: center;
    padding: 1em;
}
.squarred{
    height: 200px;
    width: 200px;
    background-color: red;
    transition: 3s;
}
.squarred:hover{
    border-radius: 50%;
    background-color: chartreuse;
}
/* SIMPLE ANIMATION */
.animation{
    width: 80%;
    margin: auto;
    border: ridge 1.5em teal;
    position: relative;
}
.bg{width: 100%; display: block;}
.bus{
    width: 20%;
    position: absolute;
    bottom: -25px;
    right: 0px;
    display: block;
    animation-name: slideBus;
    animation-duration: 8s;
    animation-delay: 3s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes slideBus{
    from{transform: translateX(0);}
    to{transform: translateX(-500%);}
}
.cloud1{
    position: absolute;
    top: 5%;
    left: -10%;
    animation: slideCloud 10s infinite;
}
@keyframes slideCloud{
    0%{transform: translate(0, 0); opacity: 0.5;}
    20%{transform: translate(50%, 12%); width: 20%;}
    40%{transform: translate(110%, -2%);}
    60%{width: 38%; opacity: 0.8;}
    80%{transform: translate(200%, 8%);}
    100%{transform: translate(320%, -5%); width: 35%; opacity: 0.3;}

}
.cloud2{
    position: absolute;
    width: 20%;
    top: -5%;
    left: -15%;
    animation: slideCloud 16s infinite;
}
.cloud3{
    position: absolute;
    width: 38%;
    top: -1%;
    left: -20%;
    animation: slideCloud 21s infinite;
}
/* ROTATION */
.gear1{
    position: absolute;
    top: 20%;
    left: 0%;
    animation: rotateGear 5s 2;
}
.animation{height: 500px;}
@keyframes rotateGear{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(360deg);}
    100%{transform: rotate(-90deg);}
}
.gear2{
    position: absolute;
    top: 50%;
    right: 30%;
    animation: zoom 6s alternate 2 forwards;
}
@keyframes zoom{
    0%{transform: scale(0);}
    30%{transform: scale(1.2);}
    60%{transform: scale(0.1);}
    100%{transform: scale(2);}

}