*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
.container{
    background-color: darkgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    width: 25%;
    margin: 1%;
    border: solid 1px;
}
.imgCont{
    width: 100%;
    height: 69.5%;
    background-color: whitesmoke;
}
.itemImg{
    width: 100%;
    height: 100%;
}
.infoItem{text-align: center;}
.p1{
    color: midnightblue;
    font-weight: 900;
}
.p2{
    font-weight: 900;
    font-size: 1.2em;
    margin-top: -0.5em;
}
.p3{
    color: gold;
    margin-top: -1em;
}
.p4{
    font-size: 1.5em;
    margin-top: 0.5em;
    font-weight: 900;
}
.p5{
    color: red;
    font-weight: 900;
    margin-top: -1em;
}
.link{
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
    display: inline-block;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    transition: ease-in-out 0.2s;
    font-weight: 900;
}
.link:hover{
    background-color: whitesmoke;
    color: rgb(50, 50, 50);
}
/* Modal Window */
.modalWindow{
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(50, 50, 50, 0.6);
    display: none;
}
.modalContent{
    width: 60%;
    height: 80%;
    margin: 5% 20%;
    background-color: white;
}
.modalHead{
    width: 80%;
    padding: 1em 2em;
    font-size: 1.2em;
    font-weight: bolder;
    color: rgb(50, 50, 50);
    border-bottom: inset lightgray 2px;
    margin: 1em 3em;
    padding-top: 1em;
    float: left;
}
.modalHeadX{
    float: right;
    font-size: 1.5em;
    padding: 0.5em;
}
.modalHeadX:hover{
    background-color: gray;
    transition: ease-in-out 0.2s;
    color: whitesmoke;
}
.modalTop{display: flex;}
.modalBody{display: flex;}
.modalImg{width: 30%;}
.modalInfo{
    width: 70%;
    text-align: center;   
}
.modalImg img{
    width: 90%;
    margin-left: 5em;
}